body {
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #112;
    color: #FFE;
}

body div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
}

img {
    width: 100%;
    image-rendering: crisp-edges;
}

a {
    text-decoration: inherit;
}

body pre {
    font-size: 3rem;
    text-align: center;
    white-space: pre-wrap;
}